site_name: Ran9E的笔记本
site_url: https://norangehere.github.io/zju-learning/
repo_name: PiXe1Ran9E/notebook
repo_url: https://github.com/norangehere/zju-learning/
site_description: Ran9E的笔记本
copyright: Copyright &copy; 2022 <a href="https://github.com/norangehere/zju-learning/" target="_blank" rel="noopener">PiXe1Ran9E</a>

theme:
  name: material
  language: zh
  logo: https://pixe1ran9e.oss-cn-hangzhou.aliyuncs.com/logo.ico
  favicon: https://pixe1ran9e.oss-cn-hangzhou.aliyuncs.com/logo.ico
  custom_dir: overrides
  features:
    - content.code.annotate
    - navigation.tracking
    - navigation.tabs
    - navigation.indexes
    - navigation.top
  font:
    text: LXGW WenKai Screen
    code: JetBrains Mono
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: grey
      accent: grey
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to light mode
markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - toc:
      permalink: true
      toc_depth: 4
  - meta
  - def_list
  - attr_list
  - md_in_html
  - sane_lists
  - admonition
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.snippets
  - pymdownx.magiclink
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.smartsymbols #鏅鸿兘绗﹀彿
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.highlight:
      anchor_linenums: true

extra_css:
  - https://gcore.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.css
  - https://gcore.jsdelivr.net/npm/lxgw-wenkai-screen-webfont@1.1.0/style.css
  - https://gcore.jsdelivr.net/npm/lxgw-wenkai-webfont@1.1.0/style.css
  - https://unpkg.com/katex@0/dist/katex.min.css
  - css/fantasy-depth-v2.css
  - css/custom.css
  - css/card.css
  - css/tasklist.css
  - css/flink.css
  - css/file-block.css

extra_javascript:
  - js/baidu-tongji.js
  - https://gcore.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js
  - js/katex.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/norangehere/

plugins:
  # - changelog
  - search
  # - mathjax
  # - git-revision-date-localized:
  #     type: datetime
  #     timezone: Asia/Beijing
  #     locale: zh
  #     enable_creation_date: true
  #     exclude:
  #       - index.md

nav:
  - Home:
      - index.md
      # - 鏇存柊璁板綍: changelog.md
      # - 鍙嬮摼: link.md
  - System:
      - 璁＄畻鏈洪€昏緫璁捐鍩虹:
          - CLDF/index.md
          - Logic and Digital System: CLDF/CLDF1.md
          - Combinational Logic Circuits: CLDF/CLDF2.md
          - Combinational Logic Design: CLDF/CLDF3.md
          - Sequential Circuits: CLDF/CLDF4.md
          - Digital Hardware Implementation: CLDF/CLDF5.md
          - Registers & Register Transfers: CLDF/CLDF6.md
          - Memory Basics: CLDF/CLDF7.md
      - 操作系统原理与实践:
          - OS/index.md
          - Introduction: OS/os0.md
          - OS Structures: OS/os1 OS Structures.md
          - Processes: OS/os2 Processes.md
          - Scheduling: OS/os3 Scheduling.md
          - Inter-Process Communication: OS/os4 Inter-Process Communication.md
          - Threads: OS/os5 Threads.md
          - Synchronization: OS/os6 Synchronization.md
          - Deadlock: OS/os7 Deadlock.md
          - Main Memory: OS/os8 Main Memory.md
          - Virtual Memory: OS/os9 Virtual Memory.md
          - Mass-Storage Structure: OS/os10 Mass-Storage Structure.md
          - IO Systems: OS/os11 IO Systems.md
          - File System Interface: OS/os12 File System Interface.md
          - File System Implementation: OS/os13 File System Implementation.md
          - Security and Protection: OS/os14 Security and Protection.md
  - Computer Science:
      - 高级数据结构与算法分析:
          - ADS/index.md
          - Review: ADS/review.md
          - 閿欓: ADS/collection.md
      - 鐞嗚璁＄畻鏈鸿璁″熀纭€:
          - TCS/index.md
      - 璁＄畻鏈哄浘褰㈠:
          - CG/index.md
          - What is Computer Graphics?: CG/cg1.md
          - 2D Graphics: CG/cg2.md
          - Introduction to OpenGL: CG/cg3.md
          - Basic Math: CG/cg4.md
          - Geometric Transformations: CG/cg5.md
          - Viewing in 2D & 3D: CG/cg6.md
          - Hidden Surface Removal & Antialiasing: CG/cg7.md
          - Color Theory & Programmable Pipeline: CG/cg8.md
          - Curves: CG/cg9.md
          - Surfaces and Beyond: CG/cg10.md
          - Digital Material Appearence: CG/cg11.md
          - Textures: CG/cg12.md
          - Rendering: CG/cg13.md
  - AI:
      - 机器学习与数据分析:
          - MLDA/index.md
          - Note: MLDA/review.md
      - 澶氭櫤鑳戒綋寮哄寲瀛︿範:
          - MARL/index.md
          - 1 Dynamic Programming: MARL/Lec1.md
          - 2 Value Estimation: MARL/Lec2.md
          - 3 Introduction to Deep Learning: MARL/Lec3.md
          - 4 Deep Q Network: MARL/Lec4.md
          - 5 Policy Gradient: MARL/Lec5.md
          - 6 绛栫暐瀛︿範楂樼骇鎶€宸т笌杩炵画鎺у埗: MARL/Lec6.md
          - 7 MARL with Factored Value Functions: MARL/Lec7.md
          - 9 MARL with A-C: MARL/Lec9.md

      - 鏈哄櫒瀛︿範:
          - ML/index.md
          - Introduction: ML/ml1.md
          - Linear Regression: ML/ml2.md
          - Linear Classifier: ML/ml3.md
          - Kernel Methods: ML/ml4.md
          - Decision Tree: ML/ml5.md
          - Neural Networks: ML/ml6.md
          - Practical Topics in Deep Learning: ML/ml7.md
          - Bayesian Decision Theory: ML/ml8.md
          - Ensemble Methods: ML/ml9.md
          - kNN & Metric: ML/ml10.md
          - Dimensionality Reduction: ML/ml11.md
          - Clustering: ML/ml12.md
          - Reinforcement Learning: ML/ml13.md
          - Feature Selection and Sparsity: ML/ml14.md
      - 计算机视觉导论:
          - CV/index.md
          - Linear Algebra: CV/cv1.md
          - Image Formation: CV/cv2.md
          - Image Processing: CV/cv3.md
          - Model Fitting and Optimization: CV/cv4.md
          - Image Matching and Motion Estimation: CV/cv5.md
          - Image stitching: CV/cv6.md
          - Structure from Motion: CV/cv7.md
          - Depth estimation and 3D reconstruction: CV/cv8.md
          - Recognition: CV/cv10.md
          - 3D Deep Learning: CV/cv11.md
          - Computational Photography: CV/cv12.md

  - 鏉傞」:
    - OpenGL:
        - OpenGL/learnopengl.md
        

